table {
  margin: 50px auto;
  padding: 5px;
  border: 1px solid;
  width: 18%;
  height: 300px;
}

button {
  width: 100%;
  height: 100%;
  font-size: large;
}

tr th {
  height: 30px;
  font-size: 20px;
}
