{% extends 'layout.html' %}
{% load get_data %}

{% block title %}
Movies
{% endblock %}


{% block body %}
{% get_movies_data as movies %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <th scope="row">{{ movie.imdbID }}</th>
            <td>{{ movie.Title }}</td>
            <td>{{ movie.Year }}</td>
            <td>{{ movie.Type }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No Todos Found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}